<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deliccio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/team.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/javacript/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- FlexSlider -->
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script defer src="../static/javacript/jquery.flexslider.js"></script>
<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<a class="navbar-brand" href="/">Neptune <span style="position:relative;top:10px">Lingang Food</span></a>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li class="active"><a href="contact/">Contact Us</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- contact -->
	<div class="contact">
		<div class="container">
			<h3>Contact Us</h3>
			<div class="line">
			</div>
			<p class="proident">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
				deserunt mollit anim id est laborum fugiat quo voluptas nulla pariatur.</p>
			<div class="contact-grid">

				    <div class="contact-left">
                    <div id="mapcontainer" style="height: 386px; width: 500px"></div>
                        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mK5MFsL54UGP9rRKYWw4cbSWeF3xlCYV"></script>
                        <script type="text/javascript">
                            var map = new BMap.Map("mapcontainer");
                            var point = new BMap.Point(121.905691,30.885067);
                            map.centerAndZoom(point, 15);
                            window.setTimeout(function(){
                                map.panTo(new BMap.Point(121.905691,30.885067));
                            }, 2000);
                            map.enableScrollWheelZoom(true);
                        </script>

                    <!--  google map api  (you can use this api when you have VPN.)    !-->
					<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3056.9443837127305!2d-75.7983021!3d39.9873482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x69c9c879a1263188!2sLutheran+Church+of+the+Good+Shepherd!5e0!3m2!1sen!2sin!4v1426659332982" frameborder="0" style="border:0"></iframe>
				    !-->
				</div>
				<div class="contact-right">
					<form>
						<input type="text" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="email" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="text" value="Phone Number" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Phone Number';}" required="">
						<input type="text" value="Subject" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}" required="">
						<div class="clearfix"> </div>
						<textarea type="text"  onfocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
						<input type="submit" value="Send">
					</form>
				</div>
				<div class="clearfix;" > </div>
			</div>
		</div>
	</div>

<!-- team member -->

    <div class="team clearfix" >
        <h1 style="text-align: center; color: #803F5F">Group members</h1>

        <div class="line"></div>
        <div class="members">
            <a name="goto"></a>

            <div class="individual">
                <div class="photo">
                <img src="../static/images/polo.jpg" alt="luohaoran">
                </div>
                <div class="perName" >Luo Haoran</div>
                <div class="perPosition">Team manager</div>
                <div class="perMotto">What we anticipate seldom occurs, what we least expect generally happens</div>
            </div>

            <div class="individual">
                <div class="photo" id="memberimg">
                <img src="../static/images/小猪佩奇显瘦版.jpg" alt="jinchenyue">
                </div>
                <div class="perName" >Jin Chenyue</div>
                <div class="perPosition">Administration manager</div>
                <div class="perMotto">All life is an experiment.</div>
            </div>

            <div class="individual">
                <div class="photo">
                <img src="../static/images/zhaomengxue.jpg" alt="zhaomengxue">
                </div>
                <div class="perName" >Zhao mengxue</div>
                <div class="perPosition">Web content and information manager</div>
                <div class="perMotto">Eating and shaping</div>
            </div>

            <div class="individual">
                <div class="photo">
                <img src="../static/images/liwenqi.png" alt="liwenqi">
                </div>
                <div class="perName" >Li Wenqi</div>
                <div class="perPosition">Deputy web content and information manager</div>
                <div class="perMotto">Keep your heart hot and your mind cool</div>
            </div>

            <div class="individual">
                <div class="photo">
                <img src="../static/images/wuyiwen.jpg" alt="wuyiwen">
                </div>
                <div class="perName" >Wu Yiwen</div>
                <div class="perPosition">Technical manager</div>
                <div class="perMotto">Big Brother is watching you</div>
            </div>

            <div class="individual">
                <div class="photo">
                <img src="../static/images/liangyu.png" alt="liangyu">
                </div>
                <div class="perName" >Liang Yu</div>
                <div class="perPosition">Deputy technical manager</div>
                <div class="perMotto">I love studying</div>
            </div>



        </div>
    </div>

<!-- //contact -->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="/">Neptune</a></h4>
					<P>My tummy rumbling is one of the best sounds of nature.</P>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="#goto">About Us</a></li>
					</ul>
				</div>
                <!--
				<div class="col-md-3 footer-grids">	
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>					 
					    <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">					 
				 </form>
				</div>
				<div class="clearfix"> </div>
				!-->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">		
			<p>Copyright &copy; 2017.Group name All rights reserved by Neptune</p>
		</div>
	</div>
<!--//footer-->	
<!-- for bootstrap working -->
		<script src="../static/css/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>