<!DOCTYPE html>
<html>
<head>
<title>Individual</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deliccio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/team.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/customer.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/javacript/jquery-1.11.1.min.js"></script>
<script src="../static/javacript/bootstrap.js"></script>
<!-- //js -->
<!-- FlexSlider -->
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script defer src="../static/javacript/jquery.flexslider.js"></script>
<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
<script type="text/javascript">
                    $(document).ready(function(){
                      $("#changeButton").click(function(){
                        $("#changePass").toggle("slow");
                      });
                    });
</script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<a class="navbar-brand" href="/">Neptune <span style="position:relative;top:10px">Lingang Food</span></a>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- individual center -->

<div class="customer-center">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Basic-info" aria-controls="Basic-info" role="tab" data-toggle="tab">Personal Information</a></li>
    <li role="presentation"><a href="#info-setting" aria-controls="info-setting" role="tab" data-toggle="tab">Information setting</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Basic-info" style="margin-left:50px;">
        <i class="name">Name:&nbsp&nbsp&nbsp&nbsp<strong>{{ user.username }}</strong></i><br/><br/>
        <i class="gender">Gender:&nbsp&nbsp&nbsp&nbsp<strong>{{ userInfo.sex }}</strong></i><br/><br/>
        <i class="telephone">Telephone Number:&nbsp&nbsp&nbsp&nbsp<strong>{{ userInfo.phone }}</strong></i><br/><br/>
        <i class="mail">Mail:&nbsp&nbsp&nbsp&nbsp<strong>{{ user.email }}</strong></i><br/><br/>
			<div class="input-group">
					<a href="/"><span class="label label-primary">Back</span></a>
			</div>	
    </div>
    <div role="tabpanel" class="tab-pane" id="info-setting">
        <form method="post" action="/customer/">
        {% csrf_token %}
            <!--username cannot be changed because it is difficult to manage-->
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Name</span>
				<input type="text" value="{{ user.username }}" readonly class="form-control" placeholder="Please enter your name" aria-describedby="basic-addon1" id="name">
			</div>
            <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Current Password</span>
				<input type="password" readonly="true" class="form-control"  aria-describedby="basic-addon1" value="{{ user.password }}">

			</div>
            <div>
                <button type="button" id="changeButton" class="btn btn-info">Change password</button>
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                <div id="changePass" style="display: none">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">New Password</span>
                        <input type="password" name="newpass" class="form-control" placeholder="Please enter your new password" aria-describedby="basic-addon1" id="password">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Repeat New Password</span>
                        <input type="password" name="repeatpass" class="form-control" placeholder="Please repeat your new password" aria-describedby="basic-addon1" id="repeat">
                    </div>
                    {% autoescape off %}
                        {% if errors1 %}
                            <script>alert("{{ errors1 }}")</script>
                        {% endif %}
                    {% endautoescape %}
                </div>
            </div>

            <!--the following information can be changed-->

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Gender</span>&nbsp;&nbsp;&nbsp;
				<label class="radio-inline">
                  <input type="radio" name="gender" id="inlineRadio1" {% if userInfo.sex == 'male' %}checked{% endif %} value="male"> male
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" id="inlineRadio2" {% if userInfo.sex == 'female' %}checked{% endif %} value="female"> female
                </label>
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Telephone Number</span>
				<input type="text" name="phone" value="{{ userInfo.phone }}" class="form-control" placeholder="Telephone Number" aria-describedby="basic-addon1" id="telephone">
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Mail</span>
				<input type="email" name="email" value="{{ user.email }}" class="form-control" placeholder="Your Mail" aria-describedby="basic-addon2" id="mail">
			</div>
			<div class="input-group">
					<button class="btn btn-success" type="submit">Save</button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a href="/" class="btn btn-success" >Back</a>
			</div>
        </form>
	</div>
  </div>

</div>


<script>
    $('li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    })


</script>

<!-- //individual center -->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="/">Neptune</a></h4>
					<P>My tummy rumbling is one of the best sounds of nature.</P>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="#goto">About Us</a></li>
					</ul>
				</div>
                <!--
				<div class="col-md-3 footer-grids">
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>
					    <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">
				 </form>
				</div>
				<div class="clearfix"> </div>
				!-->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p>Copyright &copy; 2017.Group name All rights reserved by Neptune</p>
		</div>
	</div>
<!--//footer-->
<!-- for bootstrap working -->
		<script src="../static/javacript/bootstrap.min.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>