<!DOCTYPE html>
<html>
<head>
<title>Manage</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deliccio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/team.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/customer.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/javacript/jquery-1.11.1.min.js"></script>
<script src="../static/javacript/bootstrap.js"></script>
<!-- //js -->
<!-- FlexSlider -->
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script defer src="../static/javacript/jquery.flexslider.js"></script>
<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>

<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
{% if userInfo.level == 1 or userInfo.level == 2 %}
	<div class="banner1">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<a class="navbar-brand" href="/">Neptune <span style="position:relative;top:10px">Lingang Food</span></a>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- manager center -->

<div class="manager-center">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#newtag" aria-controls="newtag" role="tab" data-toggle="tab">Create new tag</a></li>
    <li role="presentation"><a href="#newshop" aria-controls="newshop" role="tab" data-toggle="tab">Create new shop</a></li>
    <li role="presentation"><a href="#tagDetail" aria-controls="tagDetail" role="tab" data-toggle="tab">Tag detail</a></li>
    <li role="presentation"><a href="#shopDetail" aria-controls="shopDetail" role="tab" data-toggle="tab">Shop detail</a></li>


  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newtag">
        <form method="post" action="/newtag/" enctype="multipart/form-data">
        {% csrf_token %}
   			 <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Tag Name</span>
				<input type="text" name="tagname" class="form-control" placeholder="Please enter the tag name" aria-describedby="basic-addon1" id="tagname">
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors1 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
			 <textarea name="tagintro" cols="65" rows="10" placeholder="Please enter the tag introduction" style="resize:none;"></textarea>
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors2 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
            		<label class="col-sm-2 control-label" style="width: 500px">Upload the cover photo of tag：</label>
                    <br/>
                    <div class="col-sm-10">
                        <input type="file" name="tagpic" accept="image/png,image/gif,image/jpg"  >
                    </div>
          	 </div><br/>
			<div class="input-group">
					<button class="btn btn-success" type="submit">Save</button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a href="/" class="btn btn-success" >Back</a>
			</div>
		</form>
    </div>
    <div role="tabpanel" class="tab-pane" id="newshop">
        <form method="post" action="/newshop/" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Shop Name</span>
				<input type="text" name="shopname" class="form-control" placeholder="Please enter the shop name" aria-describedby="basic-addon1" id="shopname">
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors3 }}
                {% endautoescape %}
            </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors6 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
			 <textarea name="shopaddress" cols="65" rows="5" placeholder="Please enter the address of the shop" style="resize:none;"></textarea>
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors4 }}
                {% endautoescape %}
            </div>
            <div class="input-group">
			 <textarea name="shopintro" cols="65" rows="5" placeholder="Please enter the introduction of the shop" style="resize:none;"></textarea>
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors7 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
			 <span class="input-group-addon" id="basic-addon1">Shop Tag</span>
			 <select name="access" id="access" class="access"/>
             {% for tag in tags %}
			 <option value="{{ tag.tagname }}">{{ tag.tagname }}</option>
			 {% endfor %}
			 </select> 
			 </div>
             <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors5 }}
                {% endautoescape %}
             </div>
			 <div class="input-group">
            		<label class="col-sm-2 control-label" style="width: 500px">Upload the cover photo of Shop：</label>
                    <br/>
                    <div class="col-sm-10">
                        <input type="file" name="shoppic" accept="image/png,image/gif,image/jpg" >
                    </div>
          	 </div><br/><br/><br/>
			<div class="input-group">
					<button class="btn btn-success" type="submit">Save</button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a href="/" class="btn btn-success" >Back</a>
			</div>
        </form>
	</div>
    <div role="tabpanel" class="tab-pane" id="tagDetail">
        <table class="table table-hover">
          <tr>
            <th>Tag ID</th>
            <th>Tag Name</th>
            <th>Operation</th>
          </tr>
          {% for x in tags %}
            <tr>
                <td>{{ x.id}}</td>
                <td>{{ x.tagname}}</td>

                <td>
                    <a href="/tagdetail/?id={{ x.id }}" class="btn btn-info">Update</a>

                    <a href="/deltag/?id={{ x.id }}" class="btn btn-info" onclick="return confirm('Are you sure you want to delete it?')">Delete</a>
                </td>
            </tr>
          {% endfor %}
        </table>
	</div>
    <div role="tabpanel" class="tab-pane" id="shopDetail">
        <table class="table table-hover">
          <tr>
            <th>Shop ID</th>
            <th>Shop Name</th>
            <th>Operation</th>
          </tr>
          {% for i in shops  %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.shopName}}</td>

                <td>
                    <a href="/shopdetail/?id={{ i.id }}" class="btn btn-info">Update</a>

                    <a href="/delshop/?id={{ i.id }}" class="btn btn-info" onclick="return confirm('Are you sure you want to delete it?')">Delete</a>


                </td>
            </tr>
          {% endfor %}
        </table>
	</div>
  </div>

</div>










<!-- //manager center -->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="/">Neptune</a></h4>
					<P>My tummy rumbling is one of the best sounds of nature.</P>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="#goto">About Us</a></li>
					</ul>
				</div>
                <!--
				<div class="col-md-3 footer-grids">
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>
					    <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">
				 </form>
				</div>
				<div class="clearfix"> </div>
				!-->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p>Copyright &copy; 2017.Group name All rights reserved by Neptune</p>
		</div>
	</div>
<!--//footer-->
<!-- for bootstrap working -->
		<script src="../static/javacript/bootstrap.min.js"> </script>
<!-- //for bootstrap working -->
{% else %}
    <script language="javascript" type="text/javascript">
    window.location.href='/';
    </script>
{% endif %}
</body>
</html>