<!DOCTYPE html>
<html>
<head>
<title>Food</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deliccio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/food.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../static/css/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- FlexSlider -->
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />
<script defer src="../static/css/jquery.flexslider.js"></script>
<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<a class="navbar-brand" href="/">Neptune <span style="position:relative;top:10px">Lingang Food</span></a>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>


<!-- //banner -->
<!-- welcome -->


<div style="width: 40%;margin-left: 30%;margin-top: 50px;margin-bottom: 50px;">
    <h4 style="text-align: center"> Update the shop</h4>
    <br/>
        <form method="post" action="/shopdetail/" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Shop Name</span>
				<input type="text" readonly name="shopname" value="{{ shop.shopName }}" class="form-control"  aria-describedby="basic-addon1" id="shopname">
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors3 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
			 <textarea name="shopaddress" cols="65" rows="5" placeholder="Please enter the address of the shop" style="resize:none;">{{ shop.shopAddress }}</textarea>
			 </div>
            <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors4 }}
                {% endautoescape %}
            </div>
			 <div class="input-group">
			 <span class="input-group-addon" id="basic-addon1">Shop Tag</span>
			 <select name="access" id="access" class="access"/>
             {% for tag in tags %}
			 <option value="{{ tag.tagname }}"  {% if shop.tag == tag %} selected{% endif %}>{{ tag.tagname }}</option>
			 {% endfor %}
			 </select>
			 </div>
             <div style="color: #ef6155">
                {% autoescape off %}
                    {{ errors5 }}
                {% endautoescape %}
             </div>
            <div>
                {% if shop.shopCover %}
                    <img src="{{ shop.shopCover.url }}" height="200px" width="150px" alt="The picture lost"/>
                 {% else %}
                    <p>This tag has not cover potho</p>
                     <br/>
                 {% endif %}
            </div>
			 <div class="input-group">
            		<label class="col-sm-2 control-label" style="width: 500px">Upload the cover photo of Shop：</label>
                    <br/>
                    <div class="col-sm-10">
                        <input type="file" name="shoppic" accept="image/png,image/gif,image/jpg" >
                    </div>
          	 </div>

            <div class="input-group">
            		<label class="col-sm-2 control-label" style="width: 500px">Upload the content photo of Shop：</label>
                    <br/>
                    <div class="col-sm-10">
                        <input type="file" name="contentpic" accept="image/png,image/gif,image/jpg" >
                    </div>
          	 </div>

            <br/><br/><br/>
			<div class="input-group">
                    <input type="text" name="shopid" hidden value="{{ shop.id }}">
					<button class="btn btn-success" type="submit">Save</button>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					<a href="/manage/" class="btn btn-success" >Back</a>
			</div>
        </form>
        <br/><br/>
        <div class="input-group" >
            <h4 > Picture preview</h4>
            <br/>
                {% if pic %}
                    <div style="float: left;display: block;">
                    {% for a in pic%}
                    <img src="{{ a.shopPic.url}}" height="200px" width="150px" alt="The picture lost"/>
                        <form action="/delpic/" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="pic_id"  value="{{ a.id }}" >
                            <input type="hidden" name="shop_id"  value="{{ shop.id }}" >
                            <input type="image" class="glyphicon glyphicon-remove-circle" value=" "
                                   style="position: relative; top: -200px; background-color: ghostwhite"
                                   onclick="return confirm('确定要删除吗')">
                        </form>
                    {%  endfor %}
                    </div>
                 {% else %}
                    <p>This tag has not content potho</p>
                     <br/>
                 {% endif %}
            </div>

	</div>


<!-- //welcome -->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="/">Neptune</a></h4>
					<P>My tummy rumbling is one of the best sounds of nature.</P>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/healthy/">Healthy Diet</a></li>
						<li><a href="/food/">Food</a></li>
						<li><a href="/future/">Future Possibility</a></li>
						<li><a href="/problems/">Problems</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="#goto">About Us</a></li>
					</ul>
				</div>
                <!--
				<div class="col-md-3 footer-grids">
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>
					    <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">
				 </form>
				</div>
				<div class="clearfix"> </div>
				!-->
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p>Copyright &copy; 2017.Group name All rights reserved by Neptune</p>
		</div>
	</div>
<!--//footer-->
<!-- for bootstrap working -->
		<script src="../static/css/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>